<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931549025388-da7vec78d24ccisejt2b5tfki7fb671f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931549025388-da7vec78d24ccisejt2b5tfki7fb671f</string>
	<key></key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyBkiZIqGsI4i8eI6yCLTfHS8yq0EUW1GXY</string>
	<key>GCM_SENDER_ID</key>
	<string>931549025388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.i.am.rich.charity</string>
	<key>PROJECT_ID</key>
	<string>charity-198cc</string>
	<key>STORAGE_BUCKET</key>
	<string>charity-198cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:931549025388:ios:f8c9049e147fe068c9f449</string>
</dict>
</plist>
